@font-face {
  font-family: 'Rubik';
  src: url('../../public/fonts/Rubik-Light.woff2') format('woff2'), url('../../public/fonts/Rubik-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../../public/fonts/Rubik-Regular.woff2') format('woff2'), url('../../public/fonts/Rubik-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../../public/fonts/Rubik-Medium.woff2') format('woff2'), url('../../public/fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../../public/fonts/Rubik-Bold.woff2') format('woff2'), url('../../public/fonts/Rubik-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
