@import "vars-colors";

.globalNetwork__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.network__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 155px;
}

.map__container {
  margin-bottom: 30px;
}

.network__item-mainText {
  font-size: 35px;
  font-weight: 500;
  color: $side-color;
  margin-bottom: 20px;
  max-width: 383px;
  line-height: 1.5;
}

.network__item-text {
  font-size: 16px;
  font-weight: 400;
  color: $main-color;
  max-width: 555px;
  line-height: 1.5;
}

.sponsored__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

@media (max-width: 769px) {
  .network__info {
    margin-bottom: 50px;
  }
  .sponsored__list {
    flex-wrap: wrap;
    gap: 20px;
  }
  .map__network {
    min-width: 600px;
  }
  .map__container {
    padding: 20px;
    border: 2px solid $second-color;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: inset -4px 0 20px -5px $main-color, inset 4px 0 20px -5px $main-color;
  }
  .sponsored__list-item img {
    width: 120px;
    height: 37px;
  }
}
