.header__inner {
  display: flex;
  align-items: center;
  height: 45px;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 88.5px;
}

.menu,
.menu__list,
.user__actions {
  display: flex;
  align-items: center;
}

.menu__list {
  margin-right: 70px;
}

.mobile__logo {
  display: none;
}

.menu__list--close-btn {
  display: none;
}

.menu__list-item a {
  position: relative;
  display: inline-block;
  color: #4F5665;
  margin-right: 40px;
  font-size: 16px;
  transition: color .2s ease-in-out;
}

.user__action--btn-signIn {
  position: relative;
  margin-right: 0;
  transition: all .2s ease-in-out;
}

.menu__list-item a::after,
.user__action--btn-signIn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  background-color: #F53855;
  transition: width 0.3s ease-in-out;
  z-index: -1;
  border-radius: 20px;
}

.menu__list-item a:hover,
.user__action--btn-signIn:hover {
  color: #fff;
}

.menu__list-item a:hover::after {
  width: 100%;
  padding: 10px;
}

.menu__btn {
  padding: 0;
  border: 0;
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.user__action--btn-signIn {
  border: none;
  margin-right: 30px;
  color: #0B132A;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.user__action--btn-signIn:hover::after{
  width: 100%;
  padding: 13px;
  color: #fff;
}

.user__action--btn-signUp {
  border: 1px solid #F53855;
  border-radius: 20px;
  padding: 13px 45px;
  font-weight: 500;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 16px;
  color: #F53855;
}

.user__action--btn-signUp:hover {
  background-color: #f53855;
  color: #fff;
}

.user__actions.user__action-open {

}

// MEDIA RESPONSES
//----------------------------
// Phones
//------------------------------
@media (max-width: 1100px) {
  .menu__list {
    margin-right: 30px;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0 40px;
  }
  .menu__btn {
    display: inline-block;
    z-index: 2;
  }
  .user__actions {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .user__action--btn-signIn {
    font-size: 25px;
    margin-right: 0;
  }
  .user__action--btn-signUp {
    font-size: 25px;
  }
  .mobile__logo {
    width: 105px;
    height: 95px;
  }
  .mobile__logo.mobile__logo-open  {
    display: block;
    z-index: 1;
    margin-bottom: 80px;
  }
  .menu {
    transform: translateX(100%);
    position: fixed;
    inset: 0;
    background-color: #ffffff;
    box-shadow: inset 100px 50px 100px 10px rgba(113, 113, 113, 0.1);
    display: flex;
    flex-direction: column;
    transition: transform .3s ease;
    height: 100vh;
    width: 100vw;
    z-index: 1;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
    margin-right: 0;
  }
  .menu.menu__list-open {
    transform: translateX(0%);
  }
  .menu__list-item {
    margin-bottom:40px;
  }
  .menu__list-item a {
    font-size: 30px;
    margin-right: 0;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .mobile__logo {
    margin-top: 80px;
  }
}

@media (max-width: 915px) {
  .mobile__logo.mobile__logo-open  {
    margin-bottom: 100px;
  }
  .user__actions.user__action-open {
    top: 750px;
  }
  .logo {
    width: 219px;
    height: 117px;
  }
  .bar1, .bar2, .bar3 {
    width: 55px;
    height: 7px;
    margin: 7px 0;
  }
  .change .bar1 {
    transform: translate(0, 13px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translate(0, -15px) rotate(45deg);
  }
  .mobile__logo {
    width: 105px;
    height: 95px;
  }
  .menu__list-item {
    margin-bottom: 50px;
  }
  .menu__list-item a {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .mobile__logo {
    width: 105px;
    height: 107px;
  }
  .menu__list-item {
    margin-bottom: 40px;
  }
  .menu__list-item a {
    font-size: 25px;
  }
  .user__action--btn-signIn {
    font-size: 20px;
  }
  .user__action--btn-signUp {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .mobile__logo {
    width: 85px;
    height: 87px;
  }
  .user__actions.user__action-open {
    top: 600px;
    flex-direction: column;
    gap: 50px;
  }
  .mobile__logo.mobile__logo-open  {
    margin-bottom: 70px;
  }
  .menu__list-item {
    margin-bottom: 30px;
  }
  .menu__list-item a {
    font-size: 20px;
  }
  .menu__list {
    margin-bottom: 60px;
  }
}

@media (max-width: 420px) {
  .logo {
    width: 149px;
    height: 37px;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    margin: 6px 0;
  }
  .mobile__logo {
    width: 75px;
    height: 77px;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .mobile__logo.mobile__logo-open {
    margin-bottom: 50px;
  }
  .menu__list-item {
    margin-bottom: 30px;
  }
  .menu__list-item a {
    font-size: 20px;
  }
  .user__actions.user__action-open {
    top: 500px;
    gap: 30px;
  }
}
