@import "reset";
@import "fonts";
@import "header";
@import "intro";
@import "box-info";
@import "about-us";
@import "swiper-plan";
@import "global-network";
.no-scroll {
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

html,
body {
}

body {
  font-family: "Rubik", serif;
  line-height:1;
  font-size: 14px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

