@import "vars-colors";

.control {
  margin-top: 112px;
  display: flex;
  width: 100%;
  gap: 20px;
}

.swiper-btn-next-reviews {
  background: $second-color-v2;
}

.swiper-btn-next-reviews, .swiper-btn-prev-reviews {
  background: $second-color-v2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid $second-color-v2;
}

.swiper-btn-next-reviews svg,
.swiper-btn-prev-reviews svg {
  fill: #FFF;
}

.swiper-button-disabled {
  background: #FFF;
  cursor: auto;
}

.swiper-button-disabled svg {
  fill: $second-color-v2;
}

.swiper-pagination-reviews .swiper-pagination-bullet-active {
  background: $second-color-v2;
  width: 45px !important;
  height: 15px;
  border-radius: 7px;
  transition: width 0.3s ease;
}

.swiper-pagination-reviews .swiper-pagination-bullet{
  width: 15px;
  height: 15px;
  margin: 0 5px !important;
}

.reviews__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
}

.reviews__info-title {
  width: 450px;
  line-height: 1.3;
  font-size: 35px;
  font-weight: 500;
  color: $side-color;
  margin-bottom: 20px;
  text-align: center;
}

.reviews__info-text {
  width: 555px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: $main-color;
}

.review__item {
  width: 380px;
  height: 220px;
  padding: 30px;
  border: 2px solid #DDD;
  border-radius: 10px;
  transition: border .3s ease;
}

.review__item:hover {
  border: 2px solid $second-color-v2;
}

.customer__info {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  margin-right: 20px;
}

.avatar__info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.nickname {
  font-size: 18px;
  font-weight: 500;
  color: $side-color;
  margin-bottom: 5px;
}

.country {
  font-weight: 400;
  font-size: 14px;
  color: $main-color;
}

.grade {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  gap: 10px;
}

.grade::after {
  content: '';
  display: inline-block;
  background: url("public/img/icons/starGrade.svg");
  width: 16px;
  height: 16px;
}

.customer__comment {
  line-height: 1.8;
  font-size: 16px;
}

@media (max-width: 890px) {
  .swiper-btn-next-reviews,
  .swiper-btn-prev-reviews{
    width: 54px;
    height: 47px;
  }
}

@media (max-width: 768px) {
  .control {
    margin-top: 82px;
  }
  .swiper-btn-next-reviews,
  .swiper-btn-prev-reviews{
    height: 42px;
  }
  .reviews__info-title {
    width: 75%;
  }
  .reviews__info-text {
    width: 75%;
  }
}

@media (max-width: 440px) {
  .reviews__info-title {
    font-size: 30px;
    width: 100%;
  }
  .reviews__info-text {
    font-size: 14px;
    width: 100%;
  }
  .control {
    margin-top: 22px;
  }
  .swiper-pagination-reviews {
    display: flex;
    justify-content: center;
  }
  .review__item {
    margin: 0 auto;
    width: 300px;
    height: 200px;
    padding: 20px;
  }
  .swiper-btn-next-reviews,
  .swiper-btn-prev-reviews {
    display: none;
  }
}

@media (max-width: 320px) {
  .review__item {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    padding: 20px;
  }
  .customer__comment {
    font-size: 14px;
  }
  .swiper-pagination-reviews .swiper-pagination-bullet-active {
    width: 35px !important;
  }
  .swiper-pagination-reviews .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
  }
  .swiper-btn-next-reviews,
  .swiper-btn-prev-reviews{
    height: 33px;
  }
}
