@import "vars-colors";

.plan {
  margin-bottom: 150px;
}

.swiperPlan .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: $second-color-v2;
}

.swiperPlan .swiper-button-prev,
.swiperPlan .swiper-button-next{
  color: $second-color-v2;
  border: 0;
}

.plan__info {
  max-width: 100%;
  margin-bottom: 60px;
}

.plan__inner-title {
  font-size: 35px;
  font-weight: 500;
  color: $side-color;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px;
}

.plan__inner-text {
  width: 555px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: $main-color;
  text-align: center;
}

.plan__choose-item {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  padding: 30px 55px 0 55px;
  text-align: center;
  height: 660px;
  transition: border .3s ease;
}

.plan__choose-item:hover {
  border: 2px solid $second-color-v2;
}

.plan__choose-item img {
  width: 145px;
  height: 165px;
  margin: 0 auto 30px auto;
}

.plan__choose-item h3 {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
}

.capabilities__list {
  margin-bottom: auto;
}

.capabilities__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.plan__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.price {
  font-size: 25px;
  color: $side-color;
  font-weight: 500;
}

.price span {
  color: $main-color;
  font-weight: 400;
}

.plan__info-btn {
  border-radius: 30px;
  border: 2px solid $second-color-v2;
  padding: 13px 63px;
  color: $second-color-v2;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.plan__info-btn:hover {
  background-color: $second-color-v2;
  box-shadow: 0 15px 20px rgba(245, 56, 56, 0.35);
  color: #FFF;
  transform: translateY(-3px);
}

.capabilities__list {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .swiperPlan {
    max-width: 600px;
  }
  .capabilities__list-item {
    width: 100%;
    max-width: 191px;
    margin: 0 auto 25px auto;
  }
}

@media (max-width: 768px) {
  .plan {
    margin-bottom: 70px;
  }
  .plan__inner-title {
    margin-top: 30px;
  }
  .swiperPlan {
    width: 70%;
  }
  .plan__choose-item {
    justify-content: center;
  }
  .plan__inner-text {
    width: 100%;
  }
  .plan__choose-item img {
    width: 125px;
    height: 145px;
  }
}

@media (max-width: 440px) {
  .swiperPlan {
    width: 100%;
  }
  .plan {
    margin-bottom: 50px;
  }
  .plan__inner-title {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .plan__inner-text {
    font-size: 14px;
  }
  .plan__choose-item {
    height: 490px;
    padding: 30px 20px 30px 20px;
  }
  .plan__choose-item img {
    width: 105px;
    height: 125px;
  }
  .plan__info {
    gap: 15px;
    margin-bottom: 10px;
  }
  .plan__info-btn {
    padding: 10px 43px;
    font-size: 14px;
  }
  .price {
    font-size: 20px;
  }
  .capabilities__list {
    margin-bottom: 20px;
  }
  .capabilities__list-item {
    margin-bottom: 10px;
  }
  .swiperPlan .swiper-button-prev,
  .swiperPlan .swiper-button-next {
    display: none;
  }
  .swiperPlan .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}


